@charset "UTF-8";

*{margin: 0; padding: 0;}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* body보다 작으면 좌우로 가운데 맞춤 */
}

h2{font-weight: bold;
    color: #141e30;
    margin-bottom: 20px;
}

.timeline-section{
    margin: 20px auto;
    padding: 20px;
}

.timeline-section .card{
    max-width: 400px;
    position: relative;
}

/* .timeline-section .card:nth-child(2n)짝수
   .timeline-section .card:nth-child(2n+1)홀수 */
.timeline-section .card:nth-child(odd){/* 홀수 */
padding: 30px 0 30px 30px;
}
.timeline-section .card:nth-child(even){/* 짝수 */
padding: 30px 30px 30px 0;
}

.timeline-section .card::before{
    content: ""; 
    position: absolute;
    width: 50%;
    border: 2px solid orangered;
}
.timeline-section .card:nth-child(odd)::before{
    /* 위쪽에 있어서 생략 content: ""; position: absolute; */
    left: 0; top: -5px; bottom: -4.4px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
} 
.timeline-section .card:nth-child(even)::before{
    right: 0; top: 0; bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
.timeline-section .card:first-child::before{
    border-top: 0;
    border-bottom-left-radius: 0;
}
.timeline-section .card:last-child::before{
    border-bottom: 0;
    border-bottom-left-radius: 0;
}
.timeline-section .card .info{
    background-color: #141e30;
    color: #fff;
    background-image: linear-gradient(to right, #2d4c70, #141e30);
/*  to right,red, yellow = 90deg, red, yellow 
    to right bottom, red, yellow:오른쪽 바닥 대각선으로 그라데이션 */
    border-radius: 10px;
    padding: 10px;
}

.timeline-section .card .info .title{
    color: orangered;
    padding-bottom: 10px;
    position: relative;
}
.timeline-section .card .info .title::before{
    content: "";
    position: absolute;
    width: 10px; height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid orangered
}
.timeline-section .card:nth-child(even) .info .title{
    text-align: right;
}
.timeline-section .card:nth-child(even) .info .title::before{
    right: -45px;
}
.timeline-section .card:nth-child(odd) .info .title::before{
    left: -45px;
}
